
<div class="row" ng-repeat="character in characters" ng-show="character.selected">
   <button ng-repeat="action in character.actions" ng-click="select(action)" class="btn col-sm-3">{{action.text}}</button>
</div>
<div class="row" ng-repeat="character in characters" ng-show="character.selected">
  <ul ng-repeat="action in character.actions" class="list-group col-sm-3">
     <li ng-repeat="option in action.options" ng-click="act(option)" class="list-group-item col-sm-12" ng-show="action.selected">
        {{option.text}}
     </li>
  </ul>
</div>