<div class="row">
   <div ng-repeat="character in characters" class="col-sm-3" stylez="border-radius: 4px; border-style: solid; border-width:1px; border-color: black; ">
      {{character.name}}
      <div class="progress">
         <div class="progress-bar" role="progressbar" aria-valuenow="{{portrait.percentage(character.hp)}}" 
            aria-valuemin="0" aria-valuemax="100" style="width: {{portrait.percentage(character.hp)}}%">
            <span>{{character.hp.current}}/{{character.hp.max}}</span>
         </div>
      </div>
   </div>
</div>