
<div class="row" ng-repeat="character in characters" ng-show="character.selected">
   <button ng-repeat="action in character.actions" ng-click="act(action)" class="btn col-sm-3" style="margin-left: 5px; margin-right: 5px">{{action.text}}</button>
</div>
<div class="row" ng-repeat="character in characters" ng-show="character.selected">
   <div ng-repeat="action in character.actions" class="col-sm-3">
      <div class="container">
         <div ng-repeat="option in action.options" class="row" ng-show="action.selected">
            {{option}}
         </div>
      </div>
   </div>
</div>